*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     
  font-family: "Poppins", sans-serif;
  font-style: normal;
  max-width: 1280px;
  margin: 0 auto;
  /* border: 2px solid red; */
  }
  header{
    display: flex;
    justify-content: center;
  }
.nav-ber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    width: 1200px;
    /* border: 2px solid red; */
    margin-top: 60px;
    margin-bottom: 80px;
    
}
.nav-item{
    display: flex;
    list-style: none;
    gap: 34px;
    
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600px;
}
.nav-item li{
    cursor: pointer;
}

.logo{
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700px;
}
.icon img{
    height:19px;
    width: 19px;
}