* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  max-width: 1280px;
  margin: 0 auto;
  border: 2px solid red;
}

.nav-ber {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  width: 1200px;
  border: 2px solid red;
  margin: 40px auto;
}
.nav-item {
  display: flex;
  list-style: none;
  gap: 34px;

  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600px;
}
.nav-item li {
  cursor: pointer;
}

.logo {
  color: #3a3a3a;
  font-size: 1.5rem;
  font-weight: 700px;
}
.icon img {
  height: 19px;
  width: 19px;
}
.header-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 500px;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
}
.titel {
  padding: 40px;
  align-items: center;
}
.titel h1 {
  color: #3a3a3a;
  font-size: 50px;
  font-weight: 700px;
  line-height: 70px;
}
.titel p {
  font-size: 16px;
  font-weight: 500px;
  color: #3a3a3a;
  margin-bottom: 16px;
}
.btn {
  padding: 10px 24px;
  border: none;
  border-radius: 40px;
  background: #e02c6d;
  color: white;
  font-weight: 700px;
  cursor: pointer;
}
.bg-image{
  align-items: center;
  background-image: url(./images/Circle-design.svg);
  background-repeat: no-repeat ;
}