* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  max-width: 1280px;
  margin: 0 auto;
  /* border: 2px solid red; */
}

.nav-ber {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  width: 1200px;
  /* border: 2px solid red; */
  margin: 40px auto;
}
.nav-item {
  display: flex;
  list-style: none;
  gap: 34px;

  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600px;
}
.nav-item li {
  cursor: pointer;
}

.logo {
  color: #3a3a3a;
  font-size: 1.5rem;
  font-weight: 700px;
}
.icon img {
  height: 19px;
  width: 19px;
}
.header-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 500px;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
}
.titel {
  padding: 40px;
  align-items: center;
}
.titel h1 {
  color: #3a3a3a;
  font-size: 50px;
  font-weight: 700px;
  line-height: 70px;
}
.titel p {
  font-size: 16px;
  font-weight: 500px;
  color: #3a3a3a;
  margin-bottom: 16px;
}
.btn {
  padding: 10px 24px;
  border: none;
  border-radius: 40px;
  background: #e02c6d;
  color: white;
  font-weight: 700px;
  cursor: pointer;
}
.bg-image{
  align-items: center;
  background-image: url(./images/Circle-design.svg);
  background-repeat: no-repeat ;

}

 

.sponsor{
  height: 110px;
  width: 1110px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 20px auto;
}
.card-collection{
  text-align: center;
  color: #3a3a3a;
  font-size: 28px;
  font-weight: 500px;
  margin-bottom: 30px;
}

.all-card{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  gap: 30px;
  width: 80%;
}
.all-card p{
  font-weight: 700px;
  color: #E02C6D;
  cursor: pointer;
}
.card{
  height: 476px;
  width: 329px;
  padding: 15px;
  border-radius: 5px;
   box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.card h2{
  font-size: 28px;
  font-weight: 500px;
  color: #3a3a3a;

}
.card p{
  font-size: 14px;
  font-weight: 700px;
  color: #3a3a3a;
}
/* Featured products at one place */

.product{
  display: flex;
  padding: 100px;
  gap: 100px;
  align-items: center;

}
.test-place h2{
  font-size: 32px;
  font-weight: 700px;
  line-height: 60px;
  color: #3a3a3a;

}
.test-place p{
  font-size: 16px;
  font-weight: 700px;
  color: #3a3a3a;
  margin-bottom: 16px;
}
/* footer*/

.Copyright{
  height: 100px;
  width: 1260px;
  background-color:#0A0826;
  text-align: center;
  padding-top: 10px;
  color: white;
  font-size: 16px;

}
.Copyright p{
  font-size: 14px;
  font-weight: 700px;
}

/* media  */
@media screen and (max-width:576px) {
.nav-ber{
  display: flex;
  flex-wrap:wrap;
  width: 573px;
}



  .header-box{
    grid-template-columns: repeat(1, 1fr);
    width: 80%;

  }
  .sponsor{
    grid-template-columns: repeat(4, 1fr);
    /* width: 80%; */
    
  }
  .all-card{grid-template-columns: repeat(1, 1fr);
  /* width: 80%; */
}

.product{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


}